<div style="background-color:#f53636;height: 50px;width: 100%;">
	<div style="display: flex; align-items: center; justify-content: center">
		<p style="color:#FFF">Gympoint</p>
	</div>
</div>

<div style="background-color:#ededed;height: 250px;width: 100%;">
	<div style="padding: 30px 0 0 30px;">
		<strong>Olá {{ student }}</strong>
		<p>A sua matrícula no plano <strong>{{ plan }}</strong> foi concluída com sucesso.</p>
		<p>
			<strong>Ínicio: </strong> {{ initialDate }} <br />
			<strong>Fim: </strong> {{ endDate }} <br />
			<strong>Valor total: </strong> R$ {{ price }} <br />
		</p>
		</br>
	</div>
</div>

